html { 
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  width: 1000px;
  margin: 30px auto;
}

/* 아래부터 작성 */

.card {
  display: flex;
  flex-direction: column;
  width: 700px;
  border: 2px dashed black;
  justify-content: space-between;
  margin: 0 auto;
}

.card-nav {
  display: flex;
  justify-content: center;
  background-color: paleturquoise;
}

.card-header {
  padding: 18px;
}

.card-header-img {
  width: 100%;
  height: 300px;
  display: block;
}

.card-header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
  color: white;
  font-family: Cen;
  
}