<div class="container">
  <table class="table col-12">
    <thead>
      <tr>
        <th class="col-1" scope="col">No</th>
        <th class="col-1" scope="col">Title</th>
        <th class="col-1" scope="col">Movie Title</th>
        <th class="col-1" scope="col">Rank</th>
        <th class="col-8" scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <th class="col-1" scope="row">{{ review.pk }}</th>
          <td class="col-1"><a class="text-decoration-none text-dark" href="{% url 'community:detail' review.pk %}">{{ review.title }}</a></td>
          <td class="col-1">{{ review.movie_title }}</td>
          <td class="col-1">{{ review.rank }}</td>
          <td>{{ review.content|truncatechars:50 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>